<!doctype html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %} - Blog</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/pure/grid.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='JS/jquery.js') }}"></script>
  {% endblock %}
</head>
<nav>
  
  <ul class="float-left">
    <h1><a href="{{ url_for('blog.index') }}">Blog</a></h1>
    {% for page in pages %}
      <h4><a class="pages" href="/{{ page.path_name }}">{{ page.page_name }}</a></h4>
    {% endfor %}
  </ul>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
    <aside class="side-left pure-u-2-9">
      {% if g.user.isAdmin == 1 %}
        <div class="side-card">
            <a href="/admin">Admin Page</a><br/>
            <a href="{{ url_for('pages.page_new') }}">Create New Page</a>
        </div>
      {% endif %}
    </aside>

  <div class="center pure-u-13-18">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </div>
  <aside class="side-left pure-u-2-9"><p></p></aside>
</section>
