<!doctype html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %} - Blog</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/pure/grid.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='JS/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='JS/base_script.js') }}"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  {% endblock %}
</head>
{# <nav>
  
  <ul class="float-left">
    <h1><a href="{{ url_for('blog.index') }}">Blog</a></h1>
    {% for page in pages %}
      <h4><a class="pages" href="/{{ page.path_name }}">{{ page.page_name }}</a></h4>
    {% endfor %}
  </ul>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav> #}
<div class="content">
    <aside class="side-left pure-u-2-9">
      {% if g.user %}
        <div class="side-card">
          <span>{{ g.user['username'] }}</span></br>
          <a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% if g.user.isAdmin == 1 %}
          <hr>
            <a href="/admin">Admin Page</a><br/>
            <a href="{{ url_for('pages.page_new') }}">Create New Page</a>
        {% endif %}
        </div>
      {% endif %}
      
    </aside>

  <div class="center pure-u-9-18">
    {% block index %}{% endblock %}
  </div>
  <aside class="side-left pure-u-2-9"><p></p></aside>
</div>
