{% extends "base.html" %}

{% block head %}
        {{ super() }}
{% endblock head %}

{% block header %}
    {% include "blog/navbar.html" %}
{% endblock header %}

{% block content %}
    <div class="content">
        <aside class="side-left pure-u-5-24">
            {% block aside_left %}
                {{ super() }}
            {% endblock %}
        </aside>
    
        <div class="center pure-u-14-24">    
            {% block index %}
                {% for section in page_sections %}
                    <div class='element'>
                        <h2> {{ section['title'] }} </h2>
                        {% if g.user.isAdmin == 1 %}
                            <a href="/section/update?section={{ section.id }}">Edit Section</a>
                            <br/>
                        {% endif %}
                        <p> {{ section['body']|markdown }} </p>
                    </div>
                {% endfor %}
                
                {% if g.user.isAdmin == 1 %}
                    <a href="/create_elem?parent={{ page['path_name'] }}">New Section</a>
                    <hr>
                    {# <a href="{{ url_for('pages.page_del', path=page['path_name']) }}">Delete Page</a> #}
                {% endif %}
            {% endblock %}
        </div>
        <aside class="side-left pure-u-5-24">{% block aside_right %}{{ super() }}{% endblock %}</aside>
    </div>
{% endblock content %}

    


    
