{% extends 'base.html' %}

{% block head %}
	<title>{% block title %} {{ post['title']|striptags }} {% endblock %}</title>
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='JS/post_script.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/post_style.css') }}">
	{% include "textedit-head.html" %}
{% endblock %}

{% block header %}
	{% include "blog/navbar.html" %}
{% endblock %}

{% block content %}
	<div class="content">
	  	<aside class="side-left pure-u-5-24">
			{% block aside_left %}
				{{ super() }}
			{% endblock %}
		</aside>
		<div class="center pure-u-14-24">
			{% block index %}
				{% block blogtitle %}
					<h1>{{ post['title'] }}</h1>
				{% endblock %}

				{% block container %}
					<article class="post container">
						<p>
							<div class="post-header">
					          <div class="about">by {{ User.query.get(post['author_id']).username }} on {{ post['created_at'].strftime('%Y-%m-%d') }}</div>
				        	</div>
					        {% if g.user['uid'] == post['author_id'] %}
					          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
					        {% endif %}
						</p>
						{% if headers|length != 0 %}
							<div id="toc">
								<ul>
								{% for header in headers %}
									<li><a href="#{{ loop.index }}" class="header">{{ header|striptags }}</a>
									</li>
								{% endfor %}
								</ul>
							</div>
						{% endif %}
						<div class="body">{{ post['body']|safe }}
						</div>
					</article>
					<section id="comment-box" class="container">
						{% if g.user %}
							<form method="POST">
								<label for="comment">Comment</label>
								<textarea name="comment" maxlength="200" rows="5"
										  placeholder="Enter your comment here" value="" class="summer"></textarea>
								<input type="submit" value="post">
							</form>
						{% endif %}
					</section>
					<hr>
					{% if g.user %}
						<section id="comment-section">
							{% include "textedit-script.html" %}
							{% for comment in comments %}
			        			{% if g.user['uid'] == comment['author_id'] %}
			        					
			        			{% endif %}
								<div class="comment">
									<h5>{{ User.query.get(comment.author_id).username }}</h5>
									<hr>
									<br/>
									{{ comment.comment|safe }}
								</div>
							{% endfor %}
						</section>
					{% endif %}
				{% endblock %}
			{% endblock %}
		</div>
		<aside class="side-left pure-u-5-24">{% block aside_right %}{{ super() }}{% endblock %}</aside>
	</div>

{% endblock %}