{% extends 'admin/master.html' %}

{% block body %}
	{% if current_user.is_authenticated and current_user.isAdmin %}
		<h1>blog Admin Page</h1>
	{% else %}	
		<p>{{ current_user.isAdmin }}</p></br>
		<form method="POST">
		    <label for="username">Username</label>
		    <input name="username" id="username" required>
		    <label for="password">Password</label>
		    <input type="password" name="password" id="password" required>
		    <input type="submit" value="Log In">
		</form>		
	{% endif %}
{% endblock %}
